<ul style="gap: 10px">
    <% rotas.forEach(rota => { %>
        <a href= <%= rota.rota %> >
            <li style = "   background-color: transparent;
                            color: rgb(66, 43, 34);
                            transition: all 0.3s ease-out;
                            border-radius: 5px;
                            padding: 5px;
                            text-align: center;"
                onmouseover = "this.style.backgroundColor = 'lightseagreen' "
                onmouseleave = "this.style.backgroundColor = 'transparent' ">

                
                    <%= rota.nome %>
                

            </li>
        </a>
    <% }) %>
</ul>