<div style="
            background-color: lightcoral;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
        ">
    <h1>Sobre</h1>
    
    <%- include('../organisms/menu', {
                                        msg,
                                        rotas:[ 
                                                {rota: '/' , nome: 'Início' },
                                            ]
                                    }
    ) %>

</div>