<div style="
            background-color: lightskyblue;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
        ">
    <h1>Início</h1>
    
    <%- include('../organisms/menu', {
                                        msg,
                                        rotas:[ 
                                                {rota: '/about' , nome: 'Sobre' }, 
                                                {rota: '/login' , nome: 'Login' }, 
                                                {rota: '/contact' , nome: 'Contato' },
                                            ]
                                    }
    ) %>

</div>