<div style="
            background-color: lightgreen;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
        ">
    <h1>Página de Login</h1>
    
    <%- include('../organisms/menu', {
                                        msg,
                                        rotas:[ 
                                                {rota: '/' , nome: 'Início' },
                                            ]
                                    }
    ) %>

    <%- include('../organisms/form') %>

</div>